@font-face {
  font-family: URWGothicL;
  src: url(font/9845.ttf);
}


.container  {
  width: 1300px;
  margin: 0 auto;
}

body {
  background-image: url('/img/page-background.jpg');
  background-color: #b3c8e3;;
  background-size: cover;
  min-width: 1330px;
  font-family: Verdana;
}

@media screen and (max-width: 1330px) {
  body {
    background-size: auto;
  }
}

.site-name {
  height: 55px;
  width: 655px;
  font-family: URWGothicL;
  float: right;
  background-color: #005ea4;
  color: #ffffff;
  line-height: 55px;
  font-size: 20px;
  padding: 0 30px;
  margin-top: 45px;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.logo {
  width: 30%;
  float: left;
  margin-top: 40px;
}

.clear:after {
  content: " ";
  clear: both;
  display: block;
}

.head-news {
  width: 715px;
  float: right;
  margin-top: 45px;
}

.head-news-tab {
  background-color: #feec01;  
  width: 180px;
  line-height: 40px;
  font-family: URWGothicL;
  text-align: center;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.head-news-content {
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 7px 0px rgba(0, 0, 0, 0.6);
}

.head-news-image {
  width: 155px;
  float: left;
}

.head-news-text {
  float: left;
  width: 500px;
  margin-left: 10px;
  border-left: 1px solid black;
  padding: 0px 10px;
  margin-top: 5px;
  font-size: 16px;
}

.head-news-text > p {
  line-height: 25px;
}

.head-news-more-link {
  float: right;
  color: grey;
}

.nav > li {
  top: -10px;
  font-family: URWGothicL;
  font-size: 14px;
  margin: 0 40px;
  margin-bottom: -25px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
}

.nav > li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  line-height: 65px;
}

.nav > li:hover,
.nav > li.active {
  background-color: #feec01;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.nav > li:hover::after,
.nav > li.active::after {
  content: ' ';
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 5px solid #eab431;
  border-left: 5px solid #eab431;
  right: -10px;
  top: 0;
}

.nav > li:hover::before,
.nav > li.active::before {
  content: ' ';
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 5px solid #eab431;
  border-right: 5px solid #eab431;
  left: -10px;
}

.nav li > ul {
  display: none;
  padding-left: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #feec01;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  margin-top: -5px;
}

.nav li:hover > ul {
  display: block;
}

.nav > li > ul > li {
  border-bottom: 0px solid black;
}

.nav > li > ul > li:first-child {
  border-top: 0px solid black;
}

.nav > li > ul > li:last-child {
  border: none;
  border-radius: 0 0 10px 10px;
}

.nav > li > ul > li > a {
  line-height: 45px;
  padding: 0;
  width: 100%;
}

.nav > li > ul > li:hover {
  background-color: #004f92;
}

.nav > li > ul > li:hover > a {
  color: white;
}

.navigation::after {
  content: '';
  background-image: url(/img/shadow-menu.png);
  height: 15px;
  display: block;
  margin-top: -16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.navigation {
  background-color: #fff;
  height: 45px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.online-tablo {
  margin-top: 50px;
}

.online-tablo-content {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  padding-bottom: 20px;
}

.online-tablo-tab {
  background-color: #004f92;
  font-family: URWGothicL;
  font-size: 14px;
  color: #fff;
  line-height: 60px;
  border-radius: 10px 10px 0 0;
  width: 155px;
  text-align: center;
  padding: 0 20px;
  margin-left: 25px;
}

.online-tablo-tabs-day {
  margin-left: 25px;
  padding-top: 5px;
  width: 500px;
}

.online-tablo-tab-day {
  width: fit-content;
  float: left;
  padding: 15px;
  line-height: 25px;
  cursor: pointer;
}

.online-tablo-tab-day.active {
  background-color: #feec01;
}

.online-tablo-select {
  width: 590px;
  height: 50px;
  float: right;
  background-color: #feec01;
  margin-right: 35px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  font-family: URWGothicL;
}

.online-tablo-select-bg {
  content: ' ';
  display: block;
  width: 50%;
  height: 46px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 20px;
  z-index: 0;
  transition: all .3s;
}

.online-tablo-select input[type="radio"]:checked+label:nth-of-type(n)+.online-tablo-select-bg {
  -webkit-transform: translateX(99%);
  -moz-transform: translateX(99%);
  -ms-transform: translateX(99%);
  -o-transform: translateX(99%);
  transform: translateX(99%);
}


.online-tablo-select .up,
.online-tablo-select .down {
  text-transform: uppercase;
  width: 43%;
  display: inline-block;
  line-height: 48px;
  padding-left: 5%;
  z-index: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
  cursor: pointer;
}

.online-tablo-select .up {
  float: right;
  background-image: url('/img/plane-up.png');
}

.online-tablo-select .down {
  float: left;
  background-image: url('/img/plane-down.png');
}

.online-tablo-select input {
  display: none;
}

.online-tablo-table {
  width: 100%;
  border-spacing: 0px;
  margin-top: 15px;
}

.online-tablo-table th,
.online-tablo-table td {
  text-align: center;
}

.online-tablo-table tbody tr:hover {
  background-color: rgba(143, 150, 156, 0.2);
}

.online-tablo-table tbody::before {
  content: ' ';
  display: block;
  padding-top: 20px;
}

.online-tablo-table tbody td {
  line-height: 35px;
}
.online-tablo-table thead {
  font-family: URWGothicL;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(143, 150, 156, 0.5);
  line-height: 60px;
}

.footer {
  background-color: rgba(58, 58, 58, 0.98);
  padding: 30px;
  margin-top: 130px;
}

.footer-address,
.footer-phone {
  width: 25%;
  float: left;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-left: 60px;
}

.footer-address {
  background-image: url('/img/icon-map-plus.png');
  margin-left: 25px;
}

.footer-phone {
  background-image: url('/img/icon-old-phone-plus.png');
}

.footer-address-title,
.footer-phone-title {
  display: block;
  color: #feec01;
  font-size: 15px;
}

.footer-phone-title {
  margin-bottom: 10px;
}

.footer-phone-text {
  margin-bottom: 18px;  
}

.footer-address-text,
.footer-phone-text {
  display: block;
  color: #fff;
  margin-top: 15px;
}

.footer-mail {
  float: right;
  background-image: url('/img/icon-mail.png');
  background-repeat: no-repeat;
  margin-right: 25px;
}

.footer-mail a {
  font-family: URWGothicL;
  font-size: 15px;
  text-decoration: none;
  line-height: 85px;
  color: #fff;
  margin-left: 95px;
}